.gitattributes eol=lf
.gitignore  eol=lf
*.gradle    eol=lf
*.txt       eol=lf
*.h         eol=lf
*.c         eol=lf
*.cpp       eol=lf
*.cxx       eol=lf
*.hxx       eol=lf
*.lxx       eol=lf
*.pxx       eol=lf
*.cl        eol=lf
*.mm        eol=lf
*.i         eol=lf
*.el        eol=lf
*.sh        eol=lf
*.csh       eol=lf
*.tcl       eol=lf
*.cbp       eol=lf
*.svg       eol=lf
*.xib       eol=lf
*.plist     eol=lf
*.java      eol=lf
*.igs       eol=lf
*.iges      eol=lf
*.stp       eol=lf
*.step      eol=lf
*.brep      eol=lf
*.md        eol=lf
*.fs        eol=lf
*.vs        eol=lf
*.glsl      eol=lf
*.bat       eol=crlf
*.cmd       eol=crlf
*.rc        eol=crlf
*.cs        eol=crlf
*.def       eol=crlf
*.ini       eol=crlf
*.so        binary
*.dylib     binary
*.7z        binary
*.pdf       binary
*.png       binary
*.jpg       binary
*.bmp       binary
*.gif       binary
*.xwd       binary
*.ico       binary
*.icns      binary
*.std       binary
*.gz        binary
*.doc       binary
*.mft       binary
*.stl       binary 
